body
***REMOVED***
  background: -webkit-linear-gradient(top, rgb(87, 167, 224) 0%, rgb(99, 188, 237) 100%);
  background: -o-linear-gradient(top, rgb(87, 167, 224) 0%, rgb(99, 188, 237) 100%);
  background: -ms-linear-gradient(top, rgb(87, 167, 224) 0%, rgb(99, 188, 237) 100%);
  background: -moz-linear-gradient(top, rgb(87, 167, 224) 0%, rgb(99, 188, 237) 100%);
  background: linear-gradient(to bottom, rgb(87, 167, 224) 0%, rgb(99, 188, 237) 100%);
  font-family: 'Open Sans', sans-serif !important;
***REMOVED***
.dhx_cal_navline
***REMOVED***
  background-color:white;
  border-radius:5px;
  width:100% !important;
***REMOVED***
.dhx_cal_header
***REMOVED***
  width:100% !important;
***REMOVED***
.dhx_cal_data
***REMOVED***
  width:100% !important;
  min-height:700px;
***REMOVED***

.schedule-filter .form-control
***REMOVED***
  height:52px;
  border: 2.2px solid #B5DEF4;
  border-radius: 6px !important;
***REMOVED***

.schedule-filter .dhx_minical_icon
***REMOVED***
  top: 5px;
  width: 30px;
  height: 30px;
  background: url(../images/timeline/calendar.gif) 3px 5px no-repeat;
  position: relative;
***REMOVED***
.schedule-filter .place-date
***REMOVED***
  opacity: 0.6;
  position: relative;
  top: 7px;
  font-size: 16px;

***REMOVED***
.dhx_cal_container ***REMOVED***

  right: 220px;
***REMOVED***

.portlet-light
***REMOVED***
  margin-top: 10px;
***REMOVED***

.right_col
***REMOVED***
  min-height: 1037px !important;
***REMOVED***
